NODE_ENV=production
PORT=3004

DATABASE_HOST=tenant-service-postgres
DATABASE_PORT=5432
DATABASE_USERNAME=your_db_user
DATABASE_PASSWORD=your_db_password
DATABASE_NAME=tenant_db

RABBITMQ_URL=amqp://property-rabbitmq:5672